<div class="main-div">
  <h1 style="color: #80c7df">Fresco PLAY Activity Tracker</h1>
  <div *ngIf="items.length > 0; else noActivity">
    <div
      class="grid"
      *ngFor="let item of items; let i = index;">
        <input
          type="checkbox"
          [(ngModel)]="item.selected"
          [checked]="item.selected">
      <label
        [ngClass]="{'selected': item.selected}">
        {{i+1}}. {{item.name}}
      </label>
    </div>
  </div>
  <ng-template #noActivity>No Activities to track! Start by adding one</ng-template>

  <br>
  <input type="text" style="margin: 10px 0px;" [(ngModel)]="activity" />
  <br>
  <button (click)="addAct()" style="margin-right: 5px;">Add an activity</button>
  <button (click)="clearAct()">Clear all</button>
</div>
